.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 25px;
    row-gap: 16px;
    column-gap: 36px;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 15vh;
    box-shadow: 0px 4px 4px rgb(179, 167, 167);
}