.image-list-container {
    display: flex;
    overflow-x: hidden;
    cursor: grab;
}

.scrolling-wrapper {
    display: flex;
}

.image-item {
    flex: 0 0 auto;
    width: 284px;
    height: 150px;
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    align-items: center;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.image-list-container:active {
    cursor: grabbing;
}