.page-container {
    position: absolute;
}

.popup {
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 96vw;
    height: 183px;
    background-color: #EAE2B7;
    transform: translateY(100%); 
    transition: transform 300ms ease-in;
    border-radius: 20px 20px 0px 0px;
    margin-left: 2vw;
    margin-right: 2vw;
}

.popup.visible {
    transform: translateY(0%); 
    transition: transform 300ms ease-in;
}