body {
  background-color: #003049;
  margin: 0;
  overflow: hidden;
}

canvas {
  display: block;
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}